<div id="<%= dom_id game %>">
  <p>
    <strong>Player name:</strong>
    <%= game.player_name %>
  </p>

  <p>
    <strong>Game result:</strong>
    <%= game.game_result %>
  </p>

  <p>
    <strong>Secret word:</strong>
    <%= game.secret_word %>
  </p>

  <p>
    <strong>Remaining lives:</strong>
    <%= game.remaining_lives %>
  </p>

</div>
